<p>Chào, {{ name }}</p>
<p></p>
<p>
    Chúng tôi đã nhận được yêu cầu thiết lập lại mật khẩu cho tài khoản của bạn trong hệ thống Ứng dụng Quản lý Thiết
    bị. Vui lòng sử dụng mã OTP dưới đây để tiến hành đặt lại mật khẩu.
</p>
<p></p>
<p style="font-size: 50px; color: red">{{code}}</p>
<p></p>
<p>Lưu ý: Mã OTP này có hiệu lực trong 5 phút. Để bảo mật tài khoản, vui lòng không chia sẻ mã OTP với bất kỳ ai, kể cả
    nhân viên hỗ trợ.</p>
<p>Nếu bạn không yêu cầu thay đổi mật khẩu, hãy bỏ qua email này và đảm bảo tài khoản của bạn được bảo vệ an toàn.</p>
<p>Trân trọng,<br>
    Đội ngũ Hỗ trợ Ứng dụng Quản lý Thiết bị</p>